/* Style the buttons that are used to open and close the accordion panel */

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */

/* Style the accordion panel. Note: hidden by default */
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: floralwhite;
}

.oglasnaPloca {
  width: 70%;
  padding: 20px;
  margin: 20px 40px;
  border-style: outset;
  border-color: lightgray;
  background-color: lightgray;
  border-radius: 12px;
}

.miniSearch {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding-right: 2%;
  padding-top: 1%;
}

.searchIcon {
  height: 30px;
}

.searchBar {
  height: 30px;
}

.saljiStvari button {
  width: 40%;
  margin: 20px;
  height: 50px;
  display: inline;
}

.saljiStvari {
  display: flex;
  justify-content: space-around;
}


#myUL {
    /* Remove default list styling */
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#myUL li a {
    border: 1px solid #ddd; /* Add a border to all links */
    margin-top: -1px; /* Prevent double borders */
    background-color: #f6f6f6; /* Grey background color */
    padding: 12px; /* Add some padding */
    text-decoration: none; /* Remove default text underline */
    font-size: 18px; /* Increase the font-size */
    color: black; /* Add a black text color */
    display: block; /* Make it into a block element to fill the whole list */
}

#myUL li a:hover:not(.header) {
    background-color: #eee; /* Add a hover effect to all links, except for headers */
}

input{
	justify-content:space-around;
	align-items:row;
	display:flex;
}

a2{
	border: 1px solid #ddd; /* Add a border to all links */
	width: 100%;
    margin-top: -1px; /* Prevent double borders */
    background-color: #f6f6f6; /* Grey background color */
    padding: 12px; /* Add some padding */
    text-decoration: none; /* Remove default text underline */
    font-size: 18px; /* Increase the font-size */
    color: black; /* Add a black text color */
    display: block; /* Make it into a block element to fill the whole list */
	border: none;
    outline: none;
    transition: 0.4s;
}

* {
  box-sizing: border-box;
}

#myInput {
    background-image: url('/css/searchicon.png'); /* Add a search icon to input */
    background-position: 10px 12px; /* Position the search icon */
    background-repeat: no-repeat; /* Do not repeat the icon image */
    width: 100%; /* Full-width */
    font-size: 16px; /* Increase font-size */
    padding: 12px 20px 12px 40px; /* Add some padding */
    border: 1px solid #ddd; /* Add a grey border */
    margin-bottom: 12px; /* Add some space below the input */
}

.modal {
    display : none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
    animation-name: animatetop;
    animation-duration: 0.4s
}

.modal-content input {
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 10px;
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
/* Add Animation */


@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}
