.objava {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  background-color: floralwhite;
  border-radius: 12px;
}
.objava:hover {
  box-shadow: 0 0 10px 0px red;
}

.objava-header {
  color: black;
}

/* The Modal (background) */
.modal {
    display : none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
    animation-name: animatetop;
    animation-duration: 0.4s
}

.modal-content input {
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 10px;
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
/* Add Animation */


@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}
