.accrd {
  width: 100%
}

.accrd ul {
  list-style-type: circle;
  color: darkblue;
  cursor: pointer;
}

.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}

.accordion:after {
    /* content: '\02795'; /* Unicode character for "plus" sign (+) */ */
    font-size: 13px;
    color: #777;
    float: right;
    margin-left: 5px;
}
.active, .accordion:hover {
    background-color: #ccc;
}

.active:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
}


/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
.panel {

}
