.head-cont {
  height: 100vh;
  width: 100%;
}

.hicon {
  height: 55px;
  cursor: pointer;
  padding-bottom: 12px;
  padding-left: 5px;
  padding-right: 5px;

}

.head-pics {

}

.authorized-container__header {
  height: 75px;
  background-color: lightcoral;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 50px;
}

.authorized-container__logo {
  height: 77px;
  margin-left: 5px;
}

.authorized-container__navigation {
  width: 350px;
  display: flex;
  justify-content: space-around;
}

.authorized-container__navigation-link {
  height: 75px;
  color: white;
  display: flex;
  align-items: center;
  border-top-style: solid;
  border-width: thick;
  border-top-color: lightcoral;
  text-decoration: none;
}

.authorized-container__navigation-link:hover {
  border-top-color: white;
}
