.Registration {
  height: 100vh;
  color: darkslategray;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: floralwhite;
}

.Registration li {
  list-style-type: none;
}

.reg-container {
  height: 80%;
  margin-top: 5%;
  border-style: double;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #efefef;
  border-radius: 15px;
  border-color: black;
  animation-name: animatetop;
  animation-duration: 0.4s
}

.reg-form {
  height: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border-radius: 15px;
  padding-top: 2%;
  text-align: left;
}

.reg-header {
  height: 20%;
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
  background-color: lightcoral;
  border-top-right-radius: 15px;
  border-bottom-style: solid;
  border-top-left-radius: 15px;
  text-align: center;

}

.reg-form input {
  height: 10%;
}


.reg-form button {
  height: 12%;
}

.Registration a {
  color: #314e8f;
  font-size: small;
}

.Registration p {
  color: white;
}

.Registration h3 {
  color: white;
}

.inputi1 {
  width: 33%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  padding-left: 2%;
  padding-right: 2%;
}

.inputi2 {
  width: 33%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  padding-left: 2%;
  padding-right: 2%;
}

.inputi3 {
  width: 33%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  padding-left: 2%;
  padding-right: 2%;
}

.inputContainer {
  display: flex;
  height: 80%;
}

.inputContainer span {
  text-align: left;
  width: 100%;
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}
