.App {

}

.app-content {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  color: darkslategray;
  position: fixed;
  bottom: 0;
  color: #f1f1f1;
  width: 100%;
  padding: 20px;
}

.myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}

.Container{
  width: 40%;
  height: 100px;
  display: flex;
  justify-content: space-around;
  padding-right: 40px;
  padding-left: 30px;
}

.app-logo{
  height: 75px;
}

.info {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: column;
}

.app-poduzetnik-icon {
  height: 275px;
}

.spen {
  white-space: nowrap;
}
.app-inputs {
  height: 29vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.wrong {
  color: red;
  font-size: 15px;
  height: 15px;
}

input {
  border-radius: 8px;
  width: 35vh;
  height: 23%;
  color: darkslategray;
  padding: 0px 10px;
  font-size: medium;
}

button {
  background-color: lightcoral;
  color: white;
  border-radius: 12px;
  transition-duration: 0.5s;
}

.app-inputs button {
  font-size: 16px;
  padding: 10px 100px;
}

button:hover {
    background-color: black;
    color: white;
}

.App li {
  list-style-type: none;
}

a {
  color: #314e8f;
  font-size: large;
}

.App a {
  color: white;
}

p {
  color: lightcoral;
  font-size: medium;
}
/* .App {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.app-poduzetnik-icon {
  height: 50vh;
}

.app-inputs {
  height: 29vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

input {
  border-radius: 8px;
  width: 35vh;
  height: 23%;
  color: #314e8f;
  padding: 0px 10px;
  font-size: medium;
}

button {
  background-color: #314e8f;
  color: white;
  font-size: 16px;
  padding: 10px 100px;
  border-radius: 12px;
  transition-duration: 0.5s;
}

button:hover {
    background-color: goldenrod;
    color: black;
}

ul {
  list-style-type: none;
}

a {
  color: #314e8f;
  font-size: large;
}

p {
  color: #314e8f;
  font-size: medium;
} */
