* {
  box-sizing: border-box;
}

#myInput {
    background-image: url('/css/searchicon.png'); /* Add a search icon to input */
    background-position: 10px 12px; /* Position the search icon */
    background-repeat: no-repeat; /* Do not repeat the icon image */
    width: 100%; /* Full-width */
    font-size: 16px; /* Increase font-size */
    padding: 12px 20px 12px 40px; /* Add some padding */
    border: 1px solid #ddd; /* Add a grey border */
    margin-bottom: 12px; /* Add some space below the input */
}


.tablica {
	display:none;
    border-collapse: collapse;
    width: 100%;
    border: 1px solid white;
    font-size: 18px;
}

.header{
	width:100%;
}

.tablica th, .tablica td {
    text-align: left;
    padding: 12px;
	width: 50%;
}


.tablica tr {
    border-bottom: 1px solid #ddd;
}

.tablica tr.header, .tablica tr:hover {
    background-color: #f1f1f1;
}

.analiza-prometa li {
  list-style-type: none;
}

.linkovi{
	cursor: pointer;
}

.analiza-prometa th {
    cursor: pointer;
}



.analiza-prometa tr:nth-child(even) {
    background-color: #f2f2f2
}

 /* Dropdown Button */
.dropbtn {
    background-color: lightcoral;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
    background-color: black;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}
