.ChangeInfo{
  display:flex;
  justify-content:flex-start;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 250px;
  margin: auto;
  text-align: center;
  font-family: arial;
  height:550px;
}


.profile-pic{
	height: 45%;
  width: 100%;
}

.title {
  color: grey;
  font-size: 18px;
}

.card button-profile {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

button:hover, a:hover {
  opacity: 0.7;
}

.ci-unosi {
  color: #314e8f;
  font-size: medium;
  display:flex;
  align-items: flex-end;
  height:40px;
}

#submit {
  width: 16em;
}

.unosi {
}
