.tablicaClanova {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid black;
    font-size: 18px;
}

.headerClanova{
	width:100%;
}

.tablicaClanova th, .tablicaClanova td {
    text-align: left;
    padding: 12px;
	  width: 100%;
}


.tablicaClanova tr {
    border-bottom: 1px solid #ddd;
}

.tablicaClanova tr.headerClanova, .tablicaClanova tr:hover {
    background-color: #f1f1f1;
}


.GroupView{
	display:flex;
	flex-direction:column;
	justify-content:space-around;
}

.tablica {
    border-collapse: collapse;
    width: 100%;
	height:100%;

    font-size: 18px;
}

.header{
	width:100%;
}

.tablica th, .tablica td {
    text-align: left;
    padding: 12px;
	width: 100%;
}


.tablica tr {
    border-bottom: 1px solid #ddd;
	width: 100%;
}

.tablica tr.header, .tablica tr:hover {
    background-color: #f1f1f1;
}

.evgrpoc{
	display:flex;
	flex-direction:row;
	height:80%;
	width:100%;

}

.osnovneinfo{
	width:25%;
	height:100%;

}

.slika{
	width:100%;
	height:70%;
}

.tabla{
	width:40%;
	height:100%;

}

.wallpaper{
	width:100%;
	height:100%;

}

* {
  box-sizing: border-box;
}

#myInput5 {
    width: 60%; /* Full-width */
	height:10%;
    font-size: 16px; /* Increase font-size */
    padding: 12px 20px 12px 40px; /* Add some padding */
    border: 1px solid #ddd; /* Add a gray border */
    margin-bottom: 12px; /* Add some space below the input */
	-webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

#myInput5:focus {
    width: 100%;
}

#myTable5 {
    border-collapse: collapse; /* Collapse borders */
    width: 100%; /* Full-width */
    border: 1px solid #ddd; /* Add a gray border */
    font-size: 18px; /* Increase font-size */
}

#myTable5 th, #myTable5 td {
    text-align: left; /* Left-align text */
    padding: 12px; /* Add padding */
}

#myTable5 tr {
    /* Add a bottom border to all table rows */
    border-bottom: 1px solid #ddd;
}

#myTable5 tr.header, #myTable5 tr:hover {
    /* Add a gray background color to the table header and on hover */
    background-color: #f1f1f1;
}

.GroupView th {
    cursor: pointer;
}

.GroupView th, td {
    text-align: left;
    padding: 16px;
}

.GroupView tr:nth-child(even) {
    background-color: #f2f2f2
}

.posebnosti{
	height:20%;
	display:flex;
	align-items:center;
	flex-direction:column;
}

#posebnida{
	display:none;
}

#posebnine{
	display:none;
}
